.score {
    margin: 15px;
    cursor: default;
    text-align: center;
    background-color: burlywood;

    &__title {
        margin: 0;
        font-size: 40px;
    }

    &__value {
        margin-bottom: 0;
        font-size: 30px;
    }
}
