<div class="board">
    <div class="board__back" style="top: 0px;   left: 0px;"></div>
    <div class="board__back" style="top: 100px; left: 0px;"></div>
    <div class="board__back" style="top: 200px; left: 0px;"></div>
    <div class="board__back" style="top: 300px; left: 0px;"></div>
    <div class="board__back" style="top: 0px;   left: 100px;"></div>
    <div class="board__back" style="top: 100px; left: 100px;"></div>
    <div class="board__back" style="top: 200px; left: 100px;"></div>
    <div class="board__back" style="top: 300px; left: 100px;"></div>
    <div class="board__back" style="top: 0px;   left: 200px;"></div>
    <div class="board__back" style="top: 100px; left: 200px;"></div>
    <div class="board__back" style="top: 200px; left: 200px;"></div>
    <div class="board__back" style="top: 300px; left: 200px;"></div>
    <div class="board__back" style="top: 0px;   left: 300px;"></div>
    <div class="board__back" style="top: 100px; left: 300px;"></div>
    <div class="board__back" style="top: 200px; left: 300px;"></div>
    <div class="board__back" style="top: 300px; left: 300px;"></div>

    {{> finishScreen/finishScreen }}
</div>