.board {
    position: relative;
    cursor: pointer;
    margin: auto;
    margin-top: 3%;
    width: 400px;
    height: 400px;
    background: white;
    border: 5px solid #878787;

    &__back {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #bdbdbd;
        border: solid 2px #878787;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
