.tile {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    color: black;
    text-align: center;
    font: 48px/96px Arial;
    border: solid 2px #878787;
    box-sizing: border-box;
    animation: tileAppearance .3s ease-in-out;
    -moz-animation: tileAppearance .3s ease-in-out;
    -o-animation: tileAppearance .3s ease-in-out;
    -webkit-animation: tileAppearance .3s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: top .1s ease-in-out, left .1s ease-in-out;

    &-2 {
        background: #EEE4DA;
        &:after {
            content: '2';
        }
    }

    &-4 {
        background: #a5ed9d;
        &:after {
            content: '4';
        }
    }

    &-8 {
        background: #18df00;
        &:after {
            content: '8';
        }
    }

    &-16 {
        background: #5a9900;
        &:after {
            content: '16';
        }
    }

    &-32 {
        background: #8c8e00;
        &:after {
            content: '32';
        }
    }

    &-64 {
        background: #F2B179;
        &:after {
            content: '64';
        }
    }

    &-128 {
        background: #d38200;
        &:after {
            content: '128';    
        }
    }

    &-256 {
        background: #ae3900;
        &:after {
            content: '256';    
        }
    }

    &-512 {
        background: #ae3900;
        &:after {
            content: '512';    
        }
    }

    &-1024 {
        background: #931269;
        &:after {
            content: '1024';
            font-size: 40px;    
        }
    }

    &-2048 {
        background: #0a034c;
        &:after {
            color: white;
            content: '2056';    
            font-size: 40px;
        }
    }

    &-position- {
        &0-0 {
            top: 0px;
            left: 0px;
        }

        &0-1 {
            top: 0px;
            left: 100px;
        }

        &0-2 {
            top: 0px;
            left: 200px;
        }

        &0-3 {
            top: 0px;
            left: 300px;
        }

        &1-0 {
            top: 100px;
            left: 0px;
        }

        &1-1 {
            top: 100px;
            left: 100px;
        }

        &1-2 {
            top: 100px;
            left: 200px;
        }

        &1-3 {
            top: 100px;
            left: 300px;
        }

        &2-0 {
            top: 200px;
            left: 0px;
        }

        &2-1 {
            top: 200px;
            left: 100px;
        }

        &2-2 {
            top: 200px;
            left: 200px;
        }

        &2-3 {
            top: 200px;
            left: 300px;
        }

        &3-0 {
            top: 300px;
            left: 0px;
        }

        &3-1 {
            top: 300px;
            left: 100px;
        }

        &3-2 {
            top: 300px;
            left: 200px;
        }

        &3-3 {
            top: 300px;
            left: 300px;
        }
    }
}

@keyframes tileAppearance {
    0% {
        transform: scale(0,0); 
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
    }

    33% {
        transform: scale(0,0); 
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
    }

    100% { 
        transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
    }
}
