.finish-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    opacity: .7;
    z-index: 10;
    text-align: center;
    font-size: 40px;
    line-height: 400px;
    color: white;

    &_displayed {
        display: block;
    }
}